.home-page-container {
  .home-title-section {
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  .home-card-section {
    height: auto;
    width: 97%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .home-category-section {
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  .home-button-section {
    width: 97%;
    display: flex;
    justify-content: center;
  }
}
